In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
data2012 =pd.read_excel('Port_2012.xlsx',skiprows=12)
data2013 =pd.read_excel('Port_2013.xlsx',skiprows=12)
data2013_2 =pd.read_excel('Port_2013(2).xlsx',skiprows=12)
data2014 =pd.read_excel('Port_2014.xlsx',skiprows=12)
data2015 =pd.read_excel('Port_2015.xlsx',skiprows=12)
data2015_2 =pd.read_excel('Port_2015(1).xlsx',skiprows=12)
data2016 =pd.read_excel('Port_2016.xlsx',skiprows=12)
data2017 =pd.read_excel('Port_2017.xlsx',skiprows=12)
data2018 =pd.read_excel('Port_2018.xlsx',skiprows=12)
data2019 =pd.read_excel('Port_2019.xlsx',skiprows=12)
data2020 =pd.read_excel('Port_2020.xlsx',skiprows=12)
data2021 =pd.read_excel('Port_2021.xlsx',skiprows=12)

In [29]:
li = [data2012,data2013,data2013_2,data2014,data2015,data2015_2,data2016,data2017,data2018,data2019,data2020,data2021]
df = pd.concat(li, axis=0, ignore_index=True)

In [30]:
df

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,3EUE6,SKY FLOWER,2012,1,최종,외항,출항,"9,742","9,742",...,NaN,NaN,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN
1,울산,3EUI7,MSC CAPELLA,2012,1,최종,외항,출항,"141,635","141,635",...,NaN,NaN,풀컨테이너선,NaN,24.0,NaN,Y,Y,NaN,NaN
2,울산,3EVC9,SKY HOPE,2012,1,최종,외항,출항,"9,742","9,742",...,NaN,NaN,풀컨테이너선,9.0,7.0,NaN,N,N,NaN,NaN
3,울산,3EVP,글로비스 어드밴스,2012,1,최종,외항,출항,"93,313","93,313",...,NaN,NaN,산물선(벌크선),2.0,18.0,NaN,N,N,NaN,NaN
4,울산,3EYG3,MSC REGULUS,2012,1,최종,외항,출항,"141,635","141,635",...,NaN,NaN,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472556,울산,D7UZ,308 HYODONG CHEMI,2021,32,최초,내항,출항,"2,682","2,682",...,대산,대산,석유제품 운반선,6.0,7.0,NaN,Y,N,NaN,NaN
472557,울산,D7UZ,308 HYODONG CHEMI,2021,32,최초,내항,입항,"2,682","2,682",...,대산,대산,석유제품 운반선,6.0,7.0,NaN,Y,N,NaN,NaN
472558,울산,PBPU,AZORESBORG,2021,1,최초,외항,입항,"11,864","11,864",...,군산,MURMANSK,일반화물선,NaN,13.0,NaN,Y,Y,NaN,NaN
472559,울산,HZGE,SAHBA,2021,5,최초,외항,입항,"162,286","162,286",...,AL FUJAYRAH,RAS TANURA,원유운반선,NaN,28.0,NaN,Y,Y,NaN,NaN
472560,울산,HPWV,SCARLET IBIS,2021,2,변경,외항,입항,"30,411","30,411",...,OCEAN DISTRICT,GEISMAR,케미칼 운반선,NaN,21.0,NaN,Y,Y,NaN,NaN

# 데이터 EDA를 하기 위한 전처리

In [32]:
# 선박용도가 자동차운반선인것들의 데이터 프레임 = df_Car
df_Car = df.query('선박용도 == "자동차운반선"').reset_index(drop=True)
df_Car

,호출부호,선명,입항횟수,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선
0,9HA2293,TULANE,2012,1,출항,"72,295","72,295","72,295",1950-01-01 00:00,2012-06-15 15:00,2012-06-15 17:00,2012-07-18 17:18,12WLHNU0283,MQP,3.0,NaN,NaN,자동차운반선,Y,Y
1,C6ZE7,GLOVIS CARAVEL,2012,1,출항,"58,767","58,767","58,767",1950-01-01 00:00,2012-09-10 15:05,2012-09-10 14:05,2012-09-11 14:25,12GLVSU1531,MBJ,3.0,NaN,NaN,자동차운반선,Y,Y
2,C6ZE8,GLOVIS CLIPPER,2012,1,출항,"58,767","58,767","58,767",1950-01-01 00:00,2012-02-18 13:00,2012-02-17 21:00,2012-02-24 09:55,12GLVSU0295,MBJ,2.0,NaN,NaN,자동차운반선,Y,Y
3,C6ZS3,GLOVIS MERMAID,2012,1,출항,"32,545","32,545","32,545",1950-01-01 00:00,2012-07-05 17:05,2012-07-05 15:00,2012-07-06 14:35,12STKOD0941,MQM,3.0,NaN,NaN,자동차운반선,Y,Y
4,C6ZS5,GLOVIS MELODY,2012,1,출항,"32,545","32,545","32,545",1950-01-01 00:00,2012-11-22 09:35,2012-11-22 08:00,2012-11-23 16:25,12STKOD1683,MQM,3.0,NaN,NaN,자동차운반선,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,입항,"55,878","55,878","55,878",2021-08-16 06:15,2021-08-16 22:00,2021-08-16 07:15,NaN,21GLVSE147I,MBJ,1.0,광양,SINGAPORE,자동차운반선,Y,Y
11458,ZDNC6,PASSAMA,2021,2,입항,"47,053","47,053","47,053",2021-08-16 08:00,2021-08-19 09:00,2021-08-16 08:00,NaN,21L53KI448I,MBJ,3.0,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y
11459,DSMZ8,아세안 메저스티호,2021,2,입항,"71,383","71,383","71,383",2021-08-17 06:15,2021-08-18 22:00,2021-08-17 07:15,NaN,21EUKOV913I,MBJ,2.0,평택.당진,마산,자동차운반선,Y,Y
11460,3FDI5,MORNING LILY,2021,2,입항,"70,853","70,853","70,853",2021-08-18 06:15,2021-08-18 22:00,2021-08-18 07:15,NaN,21EUKOV921I,MBJ,3.0,마산,평택.당진,자동차운반선,Y,Y
11461,3FHK6,모닝 세실,2021,3,입항,"60,876","60,876","60,876",2021-08-19 06:15,2021-08-19 22:00,2021-08-19 07:15,NaN,21EUKOV916I,MBJ,1.0,"BRUNSWICK, GA",목포,자동차운반선,Y,Y

In [31]:
# 필요없는 변수 제거
df_Car.drop(['항명', '구분', '외내', '항해구분', '국적', '국적.1', '승무원 1', '승무원 2', '승객', '부선호출부호1', '부선호출부호2', '계선장소.2'], axis=1, inplace=True)
df_Car

,호출부호,선명,입항횟수,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선
0,3EUE6,SKY FLOWER,2012,1,출항,"9,742","9,742","9,742",1950-01-01 00:00,2012-04-09 15:10,2012-04-09 14:00,2012-04-13 10:03,12GRTSG7382,MQM,3.0,NaN,NaN,풀컨테이너선,N,N
1,3EUI7,MSC CAPELLA,2012,1,출항,"141,635","141,635","141,635",1950-01-01 00:00,2012-03-06 15:10,2012-03-06 14:00,2012-03-07 11:56,12GNMCU0124,MQP,3.0,NaN,NaN,풀컨테이너선,Y,Y
2,3EVC9,SKY HOPE,2012,1,출항,"9,742","9,742","9,742",1950-01-01 00:00,2012-03-21 08:30,2012-03-20 20:00,2012-03-27 10:11,12GRTSG6129,MQM,4.0,NaN,NaN,풀컨테이너선,N,N
3,3EVP,글로비스 어드밴스,2012,1,출항,"93,313","93,313","93,313",1950-01-01 00:00,2012-02-29 14:55,2012-02-29 12:00,2012-03-05 13:51,12ITLKGLAD7,MBH,2.0,NaN,NaN,산물선(벌크선),N,N
4,3EYG3,MSC REGULUS,2012,1,출항,"141,635","141,635","141,635",1950-01-01 00:00,2012-05-22 10:50,2012-05-22 09:50,2012-05-23 15:10,12GNMCU0223,MBH,5.0,NaN,NaN,풀컨테이너선,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472556,D7UZ,308 HYODONG CHEMI,2021,32,출항,"2,682","2,682","2,682",2021-08-20 00:00,2021-08-22 00:00,2021-08-22 00:00,NaN,NaN,MDG,2.0,대산,대산,석유제품 운반선,Y,N
472557,D7UZ,308 HYODONG CHEMI,2021,32,입항,"2,682","2,682","2,682",2021-08-20 00:00,2021-08-22 00:00,2021-08-14 00:00,NaN,NaN,MDG,2.0,대산,대산,석유제품 운반선,Y,N
472558,PBPU,AZORESBORG,2021,1,입항,"11,864","11,864","11,864",2021-08-20 06:00,2021-08-21 22:00,2021-08-20 07:00,NaN,21WLHNU142I,MBN,27.0,군산,MURMANSK,일반화물선,Y,Y
472559,HZGE,SAHBA,2021,5,입항,"162,286","162,286","162,286",2021-08-20 12:30,2021-08-28 18:00,2021-08-20 12:40,NaN,21SSYYUA87I,MUD,1.0,AL FUJAYRAH,RAS TANURA,원유운반선,Y,Y
472560,HPWV,SCARLET IBIS,2021,2,입항,"30,411","30,411","30,411",2021-08-22 10:00,2021-09-22 07:00,2021-08-22 11:00,NaN,21TRASA089I,WAE,3.0,OCEAN DISTRICT,GEISMAR,케미칼 운반선,Y,Y

In [33]:
# 날짜데이터들 timestamp(datetime)형으로 변환
for colname in ['입항일시', '출항일시', 'CIO수속일자', '수리일시']:
    df_Car[colname] = pd.to_datetime(df_Car[colname], format='%Y-%m-%d %H:%M:%S')
df_Car['입항일시']

0       1950-01-01 00:00:00
1       1950-01-01 00:00:00
2       1950-01-01 00:00:00
3       1950-01-01 00:00:00
4       1950-01-01 00:00:00
                ...
11457   2021-08-16 06:15:00
11458   2021-08-16 08:00:00
11459   2021-08-17 06:15:00
11460   2021-08-18 06:15:00
11461   2021-08-19 06:15:00
Name: 입항일시, Length: 11462, dtype: datetime64[ns]

In [34]:
# 1950년 1월1일 입항인 선박 행 삭제
df_Car.drop(df_Car.query('입항일시 == "1950-01-01 00:00:00"').index, inplace=True)
df_Car

,호출부호,선명,입항횟수,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선
12,9HA2272,TITANIA,2011,1,출항,"74,255","74,255","74,255",2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,2.0,목포,장승포,자동차운반선,Y,Y
13,3EJK5,WESTERN HIGHWAY,2011,1,출항,"39,422","39,422","39,422",2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,2.0,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y
14,V7FT4,NORTHERN HIGHWAY,2012,1,입항,"39,422","39,422","39,422",2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,1.0,NEW WESTMINSTER,광양,자동차운반선,Y,Y
15,V7FT4,NORTHERN HIGHWAY,2012,1,출항,"39,422","39,422","39,422",2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,3.0,NEW WESTMINSTER,광양,자동차운반선,Y,Y
16,A8VI6,CAR STAR,2012,1,출항,"43,790","43,790","43,790",2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,3.0,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,입항,"55,878","55,878","55,878",2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,1.0,광양,SINGAPORE,자동차운반선,Y,Y
11458,ZDNC6,PASSAMA,2021,2,입항,"47,053","47,053","47,053",2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,3.0,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y
11459,DSMZ8,아세안 메저스티호,2021,2,입항,"71,383","71,383","71,383",2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,2.0,평택.당진,마산,자동차운반선,Y,Y
11460,3FDI5,MORNING LILY,2021,2,입항,"70,853","70,853","70,853",2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,3.0,마산,평택.당진,자동차운반선,Y,Y
11461,3FHK6,모닝 세실,2021,3,입항,"60,876","60,876","60,876",2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,1.0,"BRUNSWICK, GA",목포,자동차운반선,Y,Y

In [35]:
# 톤수들의 문자열에서 ',' 제거 후 numeric으로 변환
for colname in ['총톤수', '국제톤수', '징수톤수']:
    df_Car[colname] = df_Car[colname].str.replace(',', '')
    df_Car[colname] = pd.to_numeric(df_Car[colname])

In [36]:
# 입출 칼럼 입항:1, 출항:0 으로 변환

# dict: 기존 값, 바꾸고자 하는 값
change_dict = {'입항': 1, '출항': 0}

# 변경
df_Car = df_Car.replace({'입출':change_dict})
df_Car

,호출부호,선명,입항횟수,입항횟수.1,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선
12,9HA2272,TITANIA,2011,1,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,2.0,목포,장승포,자동차운반선,Y,Y
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,2.0,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,1.0,NEW WESTMINSTER,광양,자동차운반선,Y,Y
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,3.0,NEW WESTMINSTER,광양,자동차운반선,Y,Y
16,A8VI6,CAR STAR,2012,1,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,3.0,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,1.0,광양,SINGAPORE,자동차운반선,Y,Y
11458,ZDNC6,PASSAMA,2021,2,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,3.0,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,2.0,평택.당진,마산,자동차운반선,Y,Y
11460,3FDI5,MORNING LILY,2021,2,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,3.0,마산,평택.당진,자동차운반선,Y,Y
11461,3FHK6,모닝 세실,2021,3,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,1.0,"BRUNSWICK, GA",목포,자동차운반선,Y,Y

In [37]:
# 칼럼 이름 변경
df_Car.rename(columns={'입항횟수.1': '입항횟수', '입항횟수':'입항년도'}, inplace=True)
df_Car

,호출부호,선명,입항년도,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선
12,9HA2272,TITANIA,2011,1,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,2.0,목포,장승포,자동차운반선,Y,Y
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,2.0,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,1.0,NEW WESTMINSTER,광양,자동차운반선,Y,Y
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,3.0,NEW WESTMINSTER,광양,자동차운반선,Y,Y
16,A8VI6,CAR STAR,2012,1,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,3.0,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,1.0,광양,SINGAPORE,자동차운반선,Y,Y
11458,ZDNC6,PASSAMA,2021,2,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,3.0,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,2.0,평택.당진,마산,자동차운반선,Y,Y
11460,3FDI5,MORNING LILY,2021,2,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,3.0,마산,평택.당진,자동차운반선,Y,Y
11461,3FHK6,모닝 세실,2021,3,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,1.0,"BRUNSWICK, GA",목포,자동차운반선,Y,Y

In [38]:
# 계선장소.1 string으로 변경후 계선장소와 합침
# 계선장소.1 object로 타입변환
df_Car['계선장소.1'] = df_Car['계선장소.1'].astype(str)
# 새로운 열 생성
df_Car['계선장소.2'] = df_Car['계선장소.1'].str[0]
df_Car['계선장소.1'] = "0" + df_Car['계선장소.2'].map(str)

In [39]:
# 변환하기 위해 만들었던 열 삭제
df_Car.drop('계선장소.2', axis=1, inplace=True)
df_Car

,호출부호,선명,입항년도,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,CIO수속일자,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선
12,9HA2272,TITANIA,2011,1,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,2012-01-04 10:00:00,12EUKOV0179,MBJ,02,목포,장승포,자동차운반선,Y,Y
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,2012-01-06 13:22:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,2012-01-05 10:37:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,자동차운반선,Y,Y
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,2012-01-05 10:37:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,자동차운반선,Y,Y
16,A8VI6,CAR STAR,2012,1,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,2012-01-05 10:15:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,NaT,21GLVSE147I,MBJ,01,광양,SINGAPORE,자동차운반선,Y,Y
11458,ZDNC6,PASSAMA,2021,2,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,NaT,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,NaT,21EUKOV913I,MBJ,02,평택.당진,마산,자동차운반선,Y,Y
11460,3FDI5,MORNING LILY,2021,2,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,NaT,21EUKOV921I,MBJ,03,마산,평택.당진,자동차운반선,Y,Y
11461,3FHK6,모닝 세실,2021,3,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,NaT,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,자동차운반선,Y,Y

In [40]:
# 새로운 열 추가
df_Car['계선'] = df_Car['계선장소'] + " " +  df_Car['계선장소.1'].astype(str)
df_Car

,호출부호,선명,입항년도,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,...,수리일시,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선,계선
12,9HA2272,TITANIA,2011,1,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,...,2012-01-04 10:00:00,12EUKOV0179,MBJ,02,목포,장승포,자동차운반선,Y,Y,MBJ 02
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,...,2012-01-06 13:22:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y,MBJ 02
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,...,2012-01-05 10:37:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,자동차운반선,Y,Y,MBJ 01
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,...,2012-01-05 10:37:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,자동차운반선,Y,Y,MBJ 03
16,A8VI6,CAR STAR,2012,1,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,...,2012-01-05 10:15:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y,MBJ 03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,...,NaT,21GLVSE147I,MBJ,01,광양,SINGAPORE,자동차운반선,Y,Y,MBJ 01
11458,ZDNC6,PASSAMA,2021,2,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,...,NaT,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y,MBJ 03
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,...,NaT,21EUKOV913I,MBJ,02,평택.당진,마산,자동차운반선,Y,Y,MBJ 02
11460,3FDI5,MORNING LILY,2021,2,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,...,NaT,21EUKOV921I,MBJ,03,마산,평택.당진,자동차운반선,Y,Y,MBJ 03
11461,3FHK6,모닝 세실,2021,3,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,...,NaT,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,자동차운반선,Y,Y,MBJ 01

In [41]:
# 입출항 차이 행 추가
df_Car['입출항 차이'] = df_Car['출항일시']-df_Car['입항일시']
df_Car

,호출부호,선명,입항년도,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,...,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선,계선,입출항 차이
12,9HA2272,TITANIA,2011,1,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,...,12EUKOV0179,MBJ,02,목포,장승포,자동차운반선,Y,Y,MBJ 02,4 days 20:00:00
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,...,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y,MBJ 02,4 days 11:35:00
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,...,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,자동차운반선,Y,Y,MBJ 01,1 days 14:00:00
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,...,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,자동차운반선,Y,Y,MBJ 03,1 days 14:00:00
16,A8VI6,CAR STAR,2012,1,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,...,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y,MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,...,21GLVSE147I,MBJ,01,광양,SINGAPORE,자동차운반선,Y,Y,MBJ 01,0 days 15:45:00
11458,ZDNC6,PASSAMA,2021,2,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,...,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y,MBJ 03,3 days 01:00:00
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,...,21EUKOV913I,MBJ,02,평택.당진,마산,자동차운반선,Y,Y,MBJ 02,1 days 15:45:00
11460,3FDI5,MORNING LILY,2021,2,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,...,21EUKOV921I,MBJ,03,마산,평택.당진,자동차운반선,Y,Y,MBJ 03,0 days 15:45:00
11461,3FHK6,모닝 세실,2021,3,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,...,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,자동차운반선,Y,Y,MBJ 01,0 days 15:45:00

# dataframe 분할

In [42]:
# df1에 전처리 기록 중간저장
df = df_Car
df1 = df_Car
df

,호출부호,선명,입항년도,입항횟수,입출,총톤수,국제톤수,징수톤수,입항일시,출항일시,...,MRN 번호,계선장소,계선장소.1,차항지,전출항지,선박용도,예선,도선,계선,입출항 차이
12,9HA2272,TITANIA,2011,1,0,74255,74255,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,...,12EUKOV0179,MBJ,02,목포,장승포,자동차운반선,Y,Y,MBJ 02,4 days 20:00:00
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,39422,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,...,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",자동차운반선,Y,Y,MBJ 02,4 days 11:35:00
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,...,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,자동차운반선,Y,Y,MBJ 01,1 days 14:00:00
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,39422,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,...,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,자동차운반선,Y,Y,MBJ 03,1 days 14:00:00
16,A8VI6,CAR STAR,2012,1,0,43790,43790,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,...,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",자동차운반선,Y,Y,MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,55878,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,...,21GLVSE147I,MBJ,01,광양,SINGAPORE,자동차운반선,Y,Y,MBJ 01,0 days 15:45:00
11458,ZDNC6,PASSAMA,2021,2,1,47053,47053,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,...,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,자동차운반선,Y,Y,MBJ 03,3 days 01:00:00
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,71383,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,...,21EUKOV913I,MBJ,02,평택.당진,마산,자동차운반선,Y,Y,MBJ 02,1 days 15:45:00
11460,3FDI5,MORNING LILY,2021,2,1,70853,70853,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,...,21EUKOV921I,MBJ,03,마산,평택.당진,자동차운반선,Y,Y,MBJ 03,0 days 15:45:00
11461,3FHK6,모닝 세실,2021,3,1,60876,60876,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,...,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,자동차운반선,Y,Y,MBJ 01,0 days 15:45:00

In [43]:
# 필요없어보이는 변수 제거
df.drop(['수리일시', '선박용도', '징수톤수', '국제톤수'], axis=1, inplace=True)
df

,호출부호,선명,입항년도,입항횟수,입출,총톤수,입항일시,출항일시,CIO수속일자,MRN 번호,계선장소,계선장소.1,차항지,전출항지,예선,도선,계선,입출항 차이
12,9HA2272,TITANIA,2011,1,0,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,12EUKOV0179,MBJ,02,목포,장승포,Y,Y,MBJ 02,4 days 20:00:00
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",Y,Y,MBJ 02,4 days 11:35:00
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,Y,Y,MBJ 01,1 days 14:00:00
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,Y,Y,MBJ 03,1 days 14:00:00
16,A8VI6,CAR STAR,2012,1,0,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",Y,Y,MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,21GLVSE147I,MBJ,01,광양,SINGAPORE,Y,Y,MBJ 01,0 days 15:45:00
11458,ZDNC6,PASSAMA,2021,2,1,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,Y,Y,MBJ 03,3 days 01:00:00
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,21EUKOV913I,MBJ,02,평택.당진,마산,Y,Y,MBJ 02,1 days 15:45:00
11460,3FDI5,MORNING LILY,2021,2,1,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,21EUKOV921I,MBJ,03,마산,평택.당진,Y,Y,MBJ 03,0 days 15:45:00
11461,3FHK6,모닝 세실,2021,3,1,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,Y,Y,MBJ 01,0 days 15:45:00

In [44]:
# 입출항 차이가 0보다 작은 행 제외
ind = df[df['입출항 차이'] <= '0 days 00:00:00'].index
df.drop(ind, inplace=True)
df.reset_index(drop=True)

,호출부호,선명,입항년도,입항횟수,입출,총톤수,입항일시,출항일시,CIO수속일자,MRN 번호,계선장소,계선장소.1,차항지,전출항지,예선,도선,계선,입출항 차이
0,9HA2272,TITANIA,2011,1,0,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,12EUKOV0179,MBJ,02,목포,장승포,Y,Y,MBJ 02,4 days 20:00:00
1,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",Y,Y,MBJ 02,4 days 11:35:00
2,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,Y,Y,MBJ 01,1 days 14:00:00
3,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,Y,Y,MBJ 03,1 days 14:00:00
4,A8VI6,CAR STAR,2012,1,0,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",Y,Y,MBJ 03,0 days 07:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,H3NG,PRESTIGE ACE,2021,2,1,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,21GLVSE147I,MBJ,01,광양,SINGAPORE,Y,Y,MBJ 01,0 days 15:45:00
11429,ZDNC6,PASSAMA,2021,2,1,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,Y,Y,MBJ 03,3 days 01:00:00
11430,DSMZ8,아세안 메저스티호,2021,2,1,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,21EUKOV913I,MBJ,02,평택.당진,마산,Y,Y,MBJ 02,1 days 15:45:00
11431,3FDI5,MORNING LILY,2021,2,1,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,21EUKOV921I,MBJ,03,마산,평택.당진,Y,Y,MBJ 03,0 days 15:45:00
11432,3FHK6,모닝 세실,2021,3,1,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,Y,Y,MBJ 01,0 days 15:45:00

In [45]:
# 입출항 차이
time = []
for i in range(len(df['입출항 차이'])):
    time.append(float(df['입출항 차이'].iloc[i].days * 24) + float(df['입출항 차이'].iloc[i].seconds / 3600))

df['입출항 차 (시간)'] = time

df.drop(['입출항 차이'], axis=1, inplace=True)
df.reset_index(drop=True)
df

,호출부호,선명,입항년도,입항횟수,입출,총톤수,입항일시,출항일시,CIO수속일자,MRN 번호,계선장소,계선장소.1,차항지,전출항지,예선,도선,계선,입출항 차 (시간)
12,9HA2272,TITANIA,2011,1,0,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,12EUKOV0179,MBJ,02,목포,장승포,Y,Y,MBJ 02,116.000000
13,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",Y,Y,MBJ 02,107.583333
14,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,Y,Y,MBJ 01,38.000000
15,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,Y,Y,MBJ 03,38.000000
16,A8VI6,CAR STAR,2012,1,0,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",Y,Y,MBJ 03,7.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,H3NG,PRESTIGE ACE,2021,2,1,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,21GLVSE147I,MBJ,01,광양,SINGAPORE,Y,Y,MBJ 01,15.750000
11458,ZDNC6,PASSAMA,2021,2,1,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,Y,Y,MBJ 03,73.000000
11459,DSMZ8,아세안 메저스티호,2021,2,1,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,21EUKOV913I,MBJ,02,평택.당진,마산,Y,Y,MBJ 02,39.750000
11460,3FDI5,MORNING LILY,2021,2,1,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,21EUKOV921I,MBJ,03,마산,평택.당진,Y,Y,MBJ 03,15.750000
11461,3FHK6,모닝 세실,2021,3,1,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,Y,Y,MBJ 01,15.750000

In [46]:
# 입항일시의 월을 추출에 월 컬럼 생성
df['입항월'] = df['입항일시'].astype(str).str[5:7].astype(int)

df = df.reset_index(drop=True)
df

,호출부호,선명,입항년도,입항횟수,입출,총톤수,입항일시,출항일시,CIO수속일자,MRN 번호,계선장소,계선장소.1,차항지,전출항지,예선,도선,계선,입출항 차 (시간),입항월
0,9HA2272,TITANIA,2011,1,0,74255,2011-12-28 17:15:00,2012-01-02 13:15:00,2012-01-02 12:15:00,12EUKOV0179,MBJ,02,목포,장승포,Y,Y,MBJ 02,116.000000,12
1,3EJK5,WESTERN HIGHWAY,2011,1,0,39422,2011-12-29 05:45:00,2012-01-02 17:20:00,2012-01-02 16:30:00,12EVOLU0039,MBJ,02,SINGAPORE,"KANDA, FUKUOKA",Y,Y,MBJ 02,107.583333,12
2,V7FT4,NORTHERN HIGHWAY,2012,1,1,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-02 08:35:00,11GLVSU1985,MBJ,01,NEW WESTMINSTER,광양,Y,Y,MBJ 01,38.000000,1
3,V7FT4,NORTHERN HIGHWAY,2012,1,0,39422,2012-01-02 07:35:00,2012-01-03 21:35:00,2012-01-03 20:35:00,12GLVSU0026,MBJ,03,NEW WESTMINSTER,광양,Y,Y,MBJ 03,38.000000,1
4,A8VI6,CAR STAR,2012,1,0,43790,2012-01-02 07:45:00,2012-01-02 15:30:00,2012-01-02 15:00:00,12ZIMUECS10,MBJ,03,YOKOHAMA,"NAGOYA, AICHI",Y,Y,MBJ 03,7.750000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,H3NG,PRESTIGE ACE,2021,2,1,55878,2021-08-16 06:15:00,2021-08-16 22:00:00,2021-08-16 07:15:00,21GLVSE147I,MBJ,01,광양,SINGAPORE,Y,Y,MBJ 01,15.750000,8
11429,ZDNC6,PASSAMA,2021,2,1,47053,2021-08-16 08:00:00,2021-08-19 09:00:00,2021-08-16 08:00:00,21L53KI448I,MBJ,03,MOJI/KITAKYUSHU,마산,Y,Y,MBJ 03,73.000000,8
11430,DSMZ8,아세안 메저스티호,2021,2,1,71383,2021-08-17 06:15:00,2021-08-18 22:00:00,2021-08-17 07:15:00,21EUKOV913I,MBJ,02,평택.당진,마산,Y,Y,MBJ 02,39.750000,8
11431,3FDI5,MORNING LILY,2021,2,1,70853,2021-08-18 06:15:00,2021-08-18 22:00:00,2021-08-18 07:15:00,21EUKOV921I,MBJ,03,마산,평택.당진,Y,Y,MBJ 03,15.750000,8
11432,3FHK6,모닝 세실,2021,3,1,60876,2021-08-19 06:15:00,2021-08-19 22:00:00,2021-08-19 07:15:00,21EUKOV916I,MBJ,01,"BRUNSWICK, GA",목포,Y,Y,MBJ 01,15.750000,8

In [47]:
# 컬럼 순서 바꾸기 및 필요없는 열 제거
df = df[['선명', '호출부호', '입항년도', '입항월', '입항횟수', '입출', '총톤수', '계선', '계선장소', '계선장소.1', '입출항 차 (시간)', '예선', '도선', '차항지', '전출항지', 'MRN 번호']]
df = df.reset_index(drop=True)
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,입출항 차 (시간),예선,도선,차항지,전출항지,MRN 번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,02,116.000000,Y,Y,목포,장승포,12EUKOV0179
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,02,107.583333,Y,Y,SINGAPORE,"KANDA, FUKUOKA",12EVOLU0039
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,01,38.000000,Y,Y,NEW WESTMINSTER,광양,11GLVSU1985
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,03,38.000000,Y,Y,NEW WESTMINSTER,광양,12GLVSU0026
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,03,7.750000,Y,Y,YOKOHAMA,"NAGOYA, AICHI",12ZIMUECS10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,01,15.750000,Y,Y,광양,SINGAPORE,21GLVSE147I
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,03,73.000000,Y,Y,MOJI/KITAKYUSHU,마산,21L53KI448I
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,02,39.750000,Y,Y,평택.당진,마산,21EUKOV913I
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,03,15.750000,Y,Y,마산,평택.당진,21EUKOV921I
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,01,15.750000,Y,Y,"BRUNSWICK, GA",목포,21EUKOV916I

In [48]:
# 칼럼 이름 변경
df.rename(columns={'입출항 차 (시간)': '작업시간'}, inplace=True)
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,MRN 번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,02,116.000000,Y,Y,목포,장승포,12EUKOV0179
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,02,107.583333,Y,Y,SINGAPORE,"KANDA, FUKUOKA",12EVOLU0039
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,01,38.000000,Y,Y,NEW WESTMINSTER,광양,11GLVSU1985
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,03,38.000000,Y,Y,NEW WESTMINSTER,광양,12GLVSU0026
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,03,7.750000,Y,Y,YOKOHAMA,"NAGOYA, AICHI",12ZIMUECS10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,01,15.750000,Y,Y,광양,SINGAPORE,21GLVSE147I
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,03,73.000000,Y,Y,MOJI/KITAKYUSHU,마산,21L53KI448I
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,02,39.750000,Y,Y,평택.당진,마산,21EUKOV913I
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,03,15.750000,Y,Y,마산,평택.당진,21EUKOV921I
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,01,15.750000,Y,Y,"BRUNSWICK, GA",목포,21EUKOV916I

In [49]:
# MRN에서 선사번호 추출, 새로운 열 생성
df['선사번호'] = df['MRN 번호'].str[2:6]

# MRN 번호 드랍
df.drop('MRN 번호', axis=1, inplace=True)
df = df.reset_index(drop=True)
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,선사번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,02,116.000000,Y,Y,목포,장승포,EUKO
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,02,107.583333,Y,Y,SINGAPORE,"KANDA, FUKUOKA",EVOL
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,01,38.000000,Y,Y,NEW WESTMINSTER,광양,GLVS
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,03,38.000000,Y,Y,NEW WESTMINSTER,광양,GLVS
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,03,7.750000,Y,Y,YOKOHAMA,"NAGOYA, AICHI",ZIMU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,01,15.750000,Y,Y,광양,SINGAPORE,GLVS
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,03,73.000000,Y,Y,MOJI/KITAKYUSHU,마산,L53K
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,02,39.750000,Y,Y,평택.당진,마산,EUKO
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,03,15.750000,Y,Y,마산,평택.당진,EUKO
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,01,15.750000,Y,Y,"BRUNSWICK, GA",목포,EUKO

In [50]:
# 예선도선 칼럼 Y:1, N:0 으로 변환

# dict: 기존 값, 바꾸고자 하는 값
change_dict = {'Y': 1, 'N': 0}

# # 변경
df = df.replace({'예선':change_dict,
                '도선': change_dict})
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,선사번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,02,116.000000,1.0,1.0,목포,장승포,EUKO
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,02,107.583333,1.0,1.0,SINGAPORE,"KANDA, FUKUOKA",EVOL
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,01,38.000000,1.0,1.0,NEW WESTMINSTER,광양,GLVS
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,03,38.000000,1.0,1.0,NEW WESTMINSTER,광양,GLVS
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,03,7.750000,1.0,1.0,YOKOHAMA,"NAGOYA, AICHI",ZIMU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,01,15.750000,1.0,1.0,광양,SINGAPORE,GLVS
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,03,73.000000,1.0,1.0,MOJI/KITAKYUSHU,마산,L53K
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,02,39.750000,1.0,1.0,평택.당진,마산,EUKO
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,03,15.750000,1.0,1.0,마산,평택.당진,EUKO
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,01,15.750000,1.0,1.0,"BRUNSWICK, GA",목포,EUKO

In [51]:
# 결측치 제거
df.dropna(inplace=True)

In [52]:
# 예선, 도선 int형으로 변환
df[['예선', '도선']] = df[['예선', '도선']].astype(int)
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,선사번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,02,116.000000,1,1,목포,장승포,EUKO
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,02,107.583333,1,1,SINGAPORE,"KANDA, FUKUOKA",EVOL
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,01,38.000000,1,1,NEW WESTMINSTER,광양,GLVS
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,03,38.000000,1,1,NEW WESTMINSTER,광양,GLVS
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,03,7.750000,1,1,YOKOHAMA,"NAGOYA, AICHI",ZIMU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,01,15.750000,1,1,광양,SINGAPORE,GLVS
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,03,73.000000,1,1,MOJI/KITAKYUSHU,마산,L53K
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,02,39.750000,1,1,평택.당진,마산,EUKO
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,03,15.750000,1,1,마산,평택.당진,EUKO
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,01,15.750000,1,1,"BRUNSWICK, GA",목포,EUKO

In [53]:
# 전출항지 차항지
dic = {'korea' :['제주','고현','옥포','울산','부산', '목포','광양','평택.당진', '마산', '인천', '군산', '여수','장승포','포항','동해'],
       'e_asia' : ['QINGDAO PT','KARATSU','SASEBO','SHIDAO PT','WEIHAI','YOKOSUKA','QINHUANGDAO PT','TOKYO','SHIMONOSEKI', 'VOSTOCHNYY PORT','INNOSHIMA','TIANJIN XINGANG PT', 'SHANGHAI','XIAMEN','MOJI/KITAKYUSHU','HONG KONG', 'NAGOYA, AICHI','SAKAISENBOKU','NAKANOSEKI','YOKKAICHI','ZHOUSHAN PT',
                  'YURA, WAKAYAMA','TAICHUNG','GAMAGORI','SHEKOU PT','TAIPEI','LIANYUNGANG','HIROSHIMA','KANDA, FUKUOKA','MUTSURE','HIGASHIHARIMA','KAWASAKI','CHIBA','HAKATA/FUKUOKA', 'KEELUNG (CHILUNG)',
                  'HUANGPU PT','TOKAI','NAKHODKA','YOKOHAMA','XINGANG','KOBE','TOYOHASHI','OMAEZAKI', 'MIZUSHIMA','NAGASAKI','VLADIVOSTOK','MIKAWA','NAGOYA, OITA',
                  'TOYAMA','AKITA', 'TOMAKOMAI','IMABARI','TADOTSU','KUDAMATSU','SLAVYANKA','SENDAI, MIYAGI','TAICANG','RONGCHENG','JINGJIANG','YANTAI','DEFENG','LONGKOU PT','XIAMEN PT','TIANJIN','ISHIKARI','SAGANOSEKI','GUANGZHOU','SETODA','VOSTOCHNYY PORT','HITACHINAKA','HIKOSHIMA','JIANGYIN PT','ZARUBINO','OPPAMA','DALIAN','HITACHI','NAGANO, NAGANO','KISARAZU'],
      'europe' : ['SETUBAL','SETE','PIRAEUS','CANAL','LE HAVRE','BENICIA','LIVORNO','LARNACA','BREMERHAVEN','DERINCE, KOCAELI','CORINTO','KOPER'],
      'asia' : ['AL FUJAYRAH','HAMAD','HUANGPU NEW PORT','PASIR PANJAN WHARVES','SOHAR', 'MUARA','HODEIDAH', 'AQABA (EL AKABA)', 'KUWAIT','SINGAPORE','HAMBANTOTA','GUAM','BATANGAS/LUZON','AD DAMMAM','OSAKA','XINSHA','ZHANGJIAGANG','MANILA','YANGON',
               'JEDDAH','AQABA FREE ZONE','TACOMA','QINGDAO','SUBIC BAY','SALALAH','DAMMAN','ELAT (EILATH)',
               'SHUWAIKH','LAEM CHABANG','PORTKELANG','BEIRUT','KARACHI','JEBEL ALI','CHENNAI (EX MADRAS)','PORT SULTAN',
               'CHARLESTON, TX', 'TANJUNG PRIOK','ZHANJIANG','MARMUGAO (MARMAGAO)','MUNDRA','DOHA','JURONG','JAKARTA, JAVA','BAUAN/BATANGAS','KANAZAWA','MUMBAI (EX BOMBAY)','SHUAIBA','BANDAR ABBAS', 'AD DAMMAM','HAMBANTOTA','SALALAH'],
      'america' :['ENSENADA','PORT-OF-SPAIN','PORTANGELES','CHARLESTON, TX,''ENSENADA','LA HABANA','NASSAU','NEW WESTMINSTER','PORTHUENEME', 'PORTLAND, OR', 'SAN JUAN','BRUNSWICK, GA','SANTO DOMINGO','SIMSBORO','NANSHA PT','IQUIQUE','KINGSTON',
                  'NEWARK, NJ','TAN CANG','ELLISVILLE, MS','TACOMA', 'WESTHAMPTONBEACH','LONGBEACH','MANTA','PUERTO QUETZAL', 'BALBOA','SANDIEGO','NEWARK, DE','PHILADELPHIA','SAN ANTONIO','CALLAO','GRAYSHARBORCITY','HOUSTON, TX','MANZANILLO',
                 'SANFRANCISCO','SAN LORENZO','LAZARO CARDENAS','ESMERALDAS','PUERTO CABELLO','BUENAVENTURA','HONOLULU','CALDERA','LOSANGELES','SANANTONIO','PORTLAND, ME','VALPARAISO',
                 'VERACRUZ','NEWYORK','RICHMOND, CA','CARTAGENA','ARICA','MAZATLAN','BOSTON, MA','VITORIA','CRISTOBAL','TSUNEISHI','ACAJUTLA','MOBILE','SAVANNAH, GA','BALTIMORE','GUANTA','FREEPORT, GRAND BAHAMA'],
      'austrailia' : ['WELLINGTON','DARWIN','NOUMEA', 'ADELAIDE','LAE','PORT KEMBLA','DAMPIER','NELSON','BRISBANE','MELBOURNE','LYTTELTON','AUCKLAND','SUVA','FREMANTLE','TOWNSVILLE','PORT MORESBY','RABAUL'],
      'africa' : ['PORT LOUIS','MOMBASA','LAGOS','DAR ES SALAAM','CASABLANCA','MISURATA','DJIBOUTI','EL ISKANDARIYA (ALEXANDRIA)','EL SUWEIS (','DURBAN','DJEN-DJEN','BINGAZI (BENGHAZI)','DJIBOUTI','PORT SUDAN','TARTOUS']}

In [55]:
for country in list(dic.keys()):
    for i in range(len(df['차항지'])):
        if df['차항지'].iloc[i] in dic[country]:
            df['차항지'].iloc[i] = country


for country in list(dic.keys()):
    for i in range(len(df['전출항지'])):
        if df['전출항지'].iloc[i] in dic[country]:
            df['전출항지'].iloc[i] = country

C:\Users\SenugHee\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [1]:
a = pd.DataFrame(df['계선장소'].value_counts())
a

NameError: name 'pd' is not defined

In [ ]:
# 총 데이터가 9년반
# 누적 입항횟수가 20 미만 계선장소 행 제거
DelRow = a.query('계선장소 <= 10').index.tolist()
DelRow

# 필요없는 계선장소인 행들의 인덱스 저장 후 drop
loc = []
for i in range(len(df['계선장소'])):
    if df['계선장소'].iloc[i] in DelRow:
        loc.append(i)
df.drop(loc, inplace=True)
df.reset_index(drop=True)

In [56]:
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,선사번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,02,116.000000,1,1,korea,korea,EUKO
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,02,107.583333,1,1,asia,e_asia,EVOL
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,01,38.000000,1,1,america,korea,GLVS
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,03,38.000000,1,1,america,korea,GLVS
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,03,7.750000,1,1,e_asia,e_asia,ZIMU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,01,15.750000,1,1,korea,asia,GLVS
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,03,73.000000,1,1,e_asia,korea,L53K
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,02,39.750000,1,1,korea,korea,EUKO
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,03,15.750000,1,1,korea,korea,EUKO
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,01,15.750000,1,1,america,korea,EUKO

In [57]:
df.to_excel(excel_writer='자동차항만입출항전처리데이터.xlsx') #엑셀로 저장