In [13]:
import numpy as np 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import matplotlib.font_manager as fm
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

font_location = 'C:/Windows/Fonts/malgunsl.ttf'
font_name = fm.FontProperties(fname = font_location).get_name()
sns.set(rc = {'figure.figsize':(15,8)})
matplotlib.rc('font' , family=font_name)#한글폰트 설정

In [14]:
data2012 =pd.read_excel('data/Port_2012.xlsx',skiprows=12)
data2013 =pd.read_excel('data/Port_2013.xlsx',skiprows=12)
data2013_2 =pd.read_excel('data/Port_2013(2).xlsx',skiprows=12)
data2014 =pd.read_excel('data/Port_2014.xlsx',skiprows=12)
data2015 =pd.read_excel('data/Port_2015.xlsx',skiprows=12)
data2015_2 =pd.read_excel('data/Port_2015(1).xlsx',skiprows=12)
data2016 =pd.read_excel('data/Port_2016.xlsx',skiprows=12)
data2017 =pd.read_excel('data/Port_2017.xlsx',skiprows=12)
data2018 =pd.read_excel('data/Port_2018.xlsx',skiprows=12)
data2019 =pd.read_excel('data/Port_2019.xlsx',skiprows=12)
data2020 =pd.read_excel('data/Port_2020.xlsx',skiprows=12)
data2021 =pd.read_excel('data/Port_2021.xlsx',skiprows=12)

In [15]:
li = [data2012,data2013,data2013_2,data2014,data2015,data2015_2,data2016,data2017,data2018,data2019,data2020,data2021]
df = pd.concat(li, axis=0, ignore_index=True)

In [16]:
# 선박용도가 자동차운반선인것들의 데이터 프레임 = df_Car
df_Car = df.query('선박용도 == "자동차운반선"').reset_index(drop=True)
df_Car

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,9HA2293,TULANE,2012,1,최종,외항,출항,"72,295","72,295",...,NaN,NaN,자동차운반선,NaN,24.0,1.0,Y,Y,NaN,NaN
1,울산,C6ZE7,GLOVIS CARAVEL,2012,1,최종,외항,출항,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,4.0,Y,Y,NaN,NaN
2,울산,C6ZE8,GLOVIS CLIPPER,2012,1,최종,외항,출항,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,NaN,Y,Y,NaN,NaN
3,울산,C6ZS3,GLOVIS MERMAID,2012,1,최종,외항,출항,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
4,울산,C6ZS5,GLOVIS MELODY,2012,1,최종,외항,출항,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,울산,H3NG,PRESTIGE ACE,2021,2,최초,외항,입항,"55,878","55,878",...,광양,SINGAPORE,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
11458,울산,ZDNC6,PASSAMA,2021,2,최초,외항,입항,"47,053","47,053",...,MOJI/KITAKYUSHU,마산,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
11459,울산,DSMZ8,아세안 메저스티호,2021,2,변경,외항,입항,"71,383","71,383",...,평택.당진,마산,자동차운반선,9.0,14.0,NaN,Y,Y,NaN,NaN
11460,울산,3FDI5,MORNING LILY,2021,2,변경,외항,입항,"70,853","70,853",...,마산,평택.당진,자동차운반선,10.0,14.0,NaN,Y,Y,NaN,NaN
11461,울산,3FHK6,모닝 세실,2021,3,변경,외항,입항,"60,876","60,876",...,"BRUNSWICK, GA",목포,자동차운반선,3.0,17.0,NaN,Y,Y,NaN,NaN

In [17]:
# 입출 칼럼 입항:1, 출항:0 으로 변환

# dict: 기존 값, 바꾸고자 하는 값
change_dict = {'입항': 1, '출항': 0}

# 변경
df_Car = df_Car.replace({'입출':change_dict})
df_Car

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,9HA2293,TULANE,2012,1,최종,외항,0,"72,295","72,295",...,NaN,NaN,자동차운반선,NaN,24.0,1.0,Y,Y,NaN,NaN
1,울산,C6ZE7,GLOVIS CARAVEL,2012,1,최종,외항,0,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,4.0,Y,Y,NaN,NaN
2,울산,C6ZE8,GLOVIS CLIPPER,2012,1,최종,외항,0,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,NaN,Y,Y,NaN,NaN
3,울산,C6ZS3,GLOVIS MERMAID,2012,1,최종,외항,0,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
4,울산,C6ZS5,GLOVIS MELODY,2012,1,최종,외항,0,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,울산,H3NG,PRESTIGE ACE,2021,2,최초,외항,1,"55,878","55,878",...,광양,SINGAPORE,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
11458,울산,ZDNC6,PASSAMA,2021,2,최초,외항,1,"47,053","47,053",...,MOJI/KITAKYUSHU,마산,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
11459,울산,DSMZ8,아세안 메저스티호,2021,2,변경,외항,1,"71,383","71,383",...,평택.당진,마산,자동차운반선,9.0,14.0,NaN,Y,Y,NaN,NaN
11460,울산,3FDI5,MORNING LILY,2021,2,변경,외항,1,"70,853","70,853",...,마산,평택.당진,자동차운반선,10.0,14.0,NaN,Y,Y,NaN,NaN
11461,울산,3FHK6,모닝 세실,2021,3,변경,외항,1,"60,876","60,876",...,"BRUNSWICK, GA",목포,자동차운반선,3.0,17.0,NaN,Y,Y,NaN,NaN

In [21]:
Out = pd.DataFrame(df_Car.query('입출 == 0'))
In = pd.DataFrame(df_Car.query('입출 == 1'))

In [27]:
d2012 =pd.read_excel('data/charge_2012.xlsx',skiprows=3, usecols=11)
입출항일자	호출부호	선명	입항횟수	선사대리점	수리일자	신고일자	납부기한	납부기한	화물료	화물보안료

d2012

ValueError: Passing an integer for `usecols` is no longer supported.  Please pass in a list of int from 0 to `usecols` inclusive instead.

In [ ]:
d2012 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2012_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2013 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2013_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2014 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2014_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2015 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2015_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2016 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2016_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2017 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2017_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2018 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2018_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2019 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2019_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2020 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2020_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2021 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)
d2021_1 =pd.read_excel('data/charge_2012.xlsx',skiprows=12)

In [ ]:
li = [data2012,data2013,data2013_2,data2014,data2015,data2015_2,data2016,data2017,data2018,data2019,data2020,data2021]
df = pd.concat(li, axis=0, ignore_index=True)

In [2]:
# 데이터 불러오기
df = pd.read_excel('자동차항만입출항전처리데이터.xlsx', index_col=0)
df

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,선사번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,2,116.000000,1,1,korea,korea,EUKO
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,2,107.583333,1,1,asia,e_asia,EVOL
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,1,38.000000,1,1,america,korea,GLVS
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,3,38.000000,1,1,america,korea,GLVS
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,3,7.750000,1,1,e_asia,e_asia,ZIMU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,1,15.750000,1,1,korea,asia,GLVS
11429,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,3,73.000000,1,1,e_asia,korea,L53K
11430,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,2,39.750000,1,1,korea,korea,EUKO
11431,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,3,15.750000,1,1,korea,korea,EUKO
11432,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,1,15.750000,1,1,america,korea,EUKO

In [3]:
pd.DataFrame(df['계선장소'].value_counts())

     계선장소
MBJ  9452
MB6  1409
MBP   365
MB5   116
WAE    70
MQM     6
MB8     3
MB7     2
MB2     2
MBN     1
MBC     1
MBO     1
MQP     1
WAT     1

In [5]:
a = pd.DataFrame(df['계선장소'].value_counts())
a

     계선장소
MBJ  9452
MB6  1409
MBP   365
MB5   116
WAE    70
MQM     6
MB8     3
MB7     2
MB2     2
MBN     1
MBC     1
MBO     1
MQP     1
WAT     1

In [6]:
# 총 데이터가 9년반
# 누적 입항횟수가 20 미만 계선장소 행 제거
DelRow = a.query('계선장소 <= 10').index.tolist()
DelRow

# 필요없는 계선장소인 행들의 인덱스 저장 후 drop
loc = []
for i in range(len(df['계선장소'])):
    if df['계선장소'].iloc[i] in DelRow:
        loc.append(i)
df.drop(loc, inplace=True)
df.reset_index(drop=True)

,선명,호출부호,입항년도,입항월,입항횟수,입출,총톤수,계선,계선장소,계선장소.1,작업시간,예선,도선,차항지,전출항지,선사번호
0,TITANIA,9HA2272,2011,12,1,0,74255,MBJ 02,MBJ,2,116.000000,1,1,korea,korea,EUKO
1,WESTERN HIGHWAY,3EJK5,2011,12,1,0,39422,MBJ 02,MBJ,2,107.583333,1,1,asia,e_asia,EVOL
2,NORTHERN HIGHWAY,V7FT4,2012,1,1,1,39422,MBJ 01,MBJ,1,38.000000,1,1,america,korea,GLVS
3,NORTHERN HIGHWAY,V7FT4,2012,1,1,0,39422,MBJ 03,MBJ,3,38.000000,1,1,america,korea,GLVS
4,CAR STAR,A8VI6,2012,1,1,0,43790,MBJ 03,MBJ,3,7.750000,1,1,e_asia,e_asia,ZIMU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11407,PRESTIGE ACE,H3NG,2021,8,2,1,55878,MBJ 01,MBJ,1,15.750000,1,1,korea,asia,GLVS
11408,PASSAMA,ZDNC6,2021,8,2,1,47053,MBJ 03,MBJ,3,73.000000,1,1,e_asia,korea,L53K
11409,아세안 메저스티호,DSMZ8,2021,8,2,1,71383,MBJ 02,MBJ,2,39.750000,1,1,korea,korea,EUKO
11410,MORNING LILY,3FDI5,2021,8,2,1,70853,MBJ 03,MBJ,3,15.750000,1,1,korea,korea,EUKO
11411,모닝 세실,3FHK6,2021,8,3,1,60876,MBJ 01,MBJ,1,15.750000,1,1,america,korea,EUKO