In [1]:
import numpy as np 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import matplotlib.font_manager as fm
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

font_location = 'C:/Windows/Fonts/malgunsl.ttf'
font_name = fm.FontProperties(fname = font_location).get_name()
sns.set(rc = {'figure.figsize':(15,8)})
matplotlib.rc('font' , family=font_name)#한글폰트 설정

In [2]:
data2012 =pd.read_excel('data/Port_2012.xlsx',skiprows=12)
data2013 =pd.read_excel('data/Port_2013.xlsx',skiprows=12)
data2013_2 =pd.read_excel('data/Port_2013(2).xlsx',skiprows=12)
data2014 =pd.read_excel('data/Port_2014.xlsx',skiprows=12)
data2015 =pd.read_excel('data/Port_2015.xlsx',skiprows=12)
data2015_2 =pd.read_excel('data/Port_2015(1).xlsx',skiprows=12)
data2016 =pd.read_excel('data/Port_2016.xlsx',skiprows=12)
data2017 =pd.read_excel('data/Port_2017.xlsx',skiprows=12)
data2018 =pd.read_excel('data/Port_2018.xlsx',skiprows=12)
data2019 =pd.read_excel('data/Port_2019.xlsx',skiprows=12)
data2020 =pd.read_excel('data/Port_2020.xlsx',skiprows=12)
data2021 =pd.read_excel('data/Port_2021.xlsx',skiprows=12)

In [3]:
li = [data2012,data2013,data2013_2,data2014,data2015,data2015_2,data2016,data2017,data2018,data2019,data2020,data2021]
df = pd.concat(li, axis=0, ignore_index=True)

In [4]:
# 선박용도가 자동차운반선인것들의 데이터 프레임 = df_Car
df_Car = df.query('선박용도 == "자동차운반선"').reset_index(drop=True)
df_Car

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,9HA2293,TULANE,2012,1,최종,외항,출항,"72,295","72,295",...,NaN,NaN,자동차운반선,NaN,24.0,1.0,Y,Y,NaN,NaN
1,울산,C6ZE7,GLOVIS CARAVEL,2012,1,최종,외항,출항,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,4.0,Y,Y,NaN,NaN
2,울산,C6ZE8,GLOVIS CLIPPER,2012,1,최종,외항,출항,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,NaN,Y,Y,NaN,NaN
3,울산,C6ZS3,GLOVIS MERMAID,2012,1,최종,외항,출항,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
4,울산,C6ZS5,GLOVIS MELODY,2012,1,최종,외항,출항,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,울산,H3NG,PRESTIGE ACE,2021,2,최초,외항,입항,"55,878","55,878",...,광양,SINGAPORE,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
11458,울산,ZDNC6,PASSAMA,2021,2,최초,외항,입항,"47,053","47,053",...,MOJI/KITAKYUSHU,마산,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
11459,울산,DSMZ8,아세안 메저스티호,2021,2,변경,외항,입항,"71,383","71,383",...,평택.당진,마산,자동차운반선,9.0,14.0,NaN,Y,Y,NaN,NaN
11460,울산,3FDI5,MORNING LILY,2021,2,변경,외항,입항,"70,853","70,853",...,마산,평택.당진,자동차운반선,10.0,14.0,NaN,Y,Y,NaN,NaN
11461,울산,3FHK6,모닝 세실,2021,3,변경,외항,입항,"60,876","60,876",...,"BRUNSWICK, GA",목포,자동차운반선,3.0,17.0,NaN,Y,Y,NaN,NaN

In [5]:
# 입출 칼럼 입항:1, 출항:0 으로 변환

# dict: 기존 값, 바꾸고자 하는 값
change_dict = {'입항': 1, '출항': 0}

# 변경
df_Car = df_Car.replace({'입출':change_dict})
df_Car

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원 1,승무원 2,승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,9HA2293,TULANE,2012,1,최종,외항,0,"72,295","72,295",...,NaN,NaN,자동차운반선,NaN,24.0,1.0,Y,Y,NaN,NaN
1,울산,C6ZE7,GLOVIS CARAVEL,2012,1,최종,외항,0,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,4.0,Y,Y,NaN,NaN
2,울산,C6ZE8,GLOVIS CLIPPER,2012,1,최종,외항,0,"58,767","58,767",...,NaN,NaN,자동차운반선,NaN,24.0,NaN,Y,Y,NaN,NaN
3,울산,C6ZS3,GLOVIS MERMAID,2012,1,최종,외항,0,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
4,울산,C6ZS5,GLOVIS MELODY,2012,1,최종,외항,0,"32,545","32,545",...,NaN,NaN,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11457,울산,H3NG,PRESTIGE ACE,2021,2,최초,외항,1,"55,878","55,878",...,광양,SINGAPORE,자동차운반선,NaN,21.0,NaN,Y,Y,NaN,NaN
11458,울산,ZDNC6,PASSAMA,2021,2,최초,외항,1,"47,053","47,053",...,MOJI/KITAKYUSHU,마산,자동차운반선,NaN,20.0,NaN,Y,Y,NaN,NaN
11459,울산,DSMZ8,아세안 메저스티호,2021,2,변경,외항,1,"71,383","71,383",...,평택.당진,마산,자동차운반선,9.0,14.0,NaN,Y,Y,NaN,NaN
11460,울산,3FDI5,MORNING LILY,2021,2,변경,외항,1,"70,853","70,853",...,마산,평택.당진,자동차운반선,10.0,14.0,NaN,Y,Y,NaN,NaN
11461,울산,3FHK6,모닝 세실,2021,3,변경,외항,1,"60,876","60,876",...,"BRUNSWICK, GA",목포,자동차운반선,3.0,17.0,NaN,Y,Y,NaN,NaN

In [6]:
Out = pd.DataFrame(df_Car.query('입출 == 0'))
In = pd.DataFrame(df_Car.query('입출 == 1'))

In [11]:
# 외항입항 데이터
d2012 =pd.read_excel('data/charge_2012.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2013 =pd.read_excel('data/charge_2013.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2014 =pd.read_excel('data/charge_2014.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2015 =pd.read_excel('data/charge_2015.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2016 =pd.read_excel('data/charge_2016.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2017 =pd.read_excel('data/charge_2017.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2018 =pd.read_excel('data/charge_2018.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2019 =pd.read_excel('data/charge_2019.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2020 =pd.read_excel('data/charge_2020.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
d2021 =pd.read_excel('data/charge_2021.xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [13]:
li2 = [d2012,d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d2021]
df2 = pd.concat(li2, axis=0, ignore_index=True)
df2

,입출항일자,호출부호,선명,입항횟수,선사대리점,수리일자,신고일자,납부기한,납부기한.1,화물료,화물보안료
0,20120101,VREZ4,ATLANTIC MUSE,1,(주)정일스톨트헤븐울,20120106.0,20120106,20120118,"3,319,360","3,319,360",0
1,20120101,/D8BP,삼영호,1,엘에스니꼬 동제련(주),20120113.0,20120113,20120119,"1,291,730","1,291,730",0
2,20120101,XUGE6,에버부산,1,동원로엑스(주),20120116.0,20120116,20120120,"279,310","279,310",0
3,20120101,VRCL5,BEECH GALAXY,1,주식회사태영인더스트리,20120106.0,20120106,20120116,"159,490","159,490",0
4,20120101,ZDHW2,MATTYS,1,고려해운(주),20120326.0,20120326,20120111,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
70753,20210818,DSQP9,온산가스,8,(주)신흥사,20210820.0,20210820,20210903,"221,560","212,010","9,550"
70754,20210819,9HPO9,CESTENI,1,(주)신흥사,20210820.0,20210820,20210903,"46,160","44,170","1,990"
70755,20210819,9V8968,WAN HAI 105,2,만해항운한국(주),20210820.0,20210820,20210903,0,0,0
70756,20210819,9V8968,WAN HAI 105,2,고려해운(주),20210820.0,20210820,20210903,0,0,0
70757,20210819,9V7584,WAN HAI 271,5,만해항운한국(주),20210820.0,20210820,20210904,"6,850","6,850",0

In [14]:
# 외항출항데이터
dd2012 =pd.read_excel('data/charge_2012(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2013 =pd.read_excel('data/charge_2013(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2014 =pd.read_excel('data/charge_2014(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2015 =pd.read_excel('data/charge_2015(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2016 =pd.read_excel('data/charge_2016(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2017 =pd.read_excel('data/charge_2017(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2018 =pd.read_excel('data/charge_2018(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2019 =pd.read_excel('data/charge_2019(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2020 =pd.read_excel('data/charge_2020(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dd2021 =pd.read_excel('data/charge_2021(1).xlsx',skiprows=3, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [16]:
li3 = [dd2012,dd2013,dd2014,dd2015,dd2016,dd2017,dd2018,dd2019,dd2020,dd2021]
df3 = pd.concat(li3, axis=0, ignore_index=True)
df3

,입출항일자,호출부호,선명,입항횟수,선사대리점,수리일자,신고일자,납부기한,납부기한.1,화물료,화물보안료
0,20120101,DSQC6,새한 캠스타,14,고려아연(주),20120112.0,20120112,20120116,"315,940","315,940",0
1,20120101,D7EF,우림,39,에쓰오일 주식회사,20120105.0,20120105,20120115,"763,140","763,140",0
2,20120101,V7SE3,SEMUA PERKASA,3,에쓰오일 주식회사,20120105.0,20120105,20120115,"808,710","808,710",0
3,20120101,VRIW3,SAKURA EXPRESS,2,에쓰오일 주식회사,20120105.0,20120105,20120116,"3,520,860","3,520,860",0
4,20120101,ZDKP2,IVER BLESSING,1,(주)코리아쉽핑트레이,20120102.0,20120102,20120116,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
101275,20210819,9V8968,WAN HAI 105,2,만해항운한국(주),20210820.0,20210820,20210918,"52,060","52,060",0
101276,20210819,3EKP7,SPRING EURO,29,(주)정일스톨트헤븐울,20210820.0,20210820,20210903,"244,640","244,640",0
101277,20210819,DSDD6,제105효동케미,11,(주)정일스톨트헤븐울,20210820.0,20210820,20210903,"193,360","193,360",0
101278,20210819,3FBF6,ANGEL BLUE,46,협신컴퍼니,NaN,20210820,20210903,"84,910",NaN,NaN
101279,20210820,9V7584,WAN HAI 271,5,만해항운한국(주),20210820.0,20210820,20210919,"97,270","97,270",0

In [ ]:
# df2 In

In [ ]:
df3 Out